/* ======================================
GENERALS
================================================== */
html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ======================================
ANIMATION ON MOUSE SECTION
================================================== */
#mouse-click{
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-55px);
    }
    60% {
    transform: translateY(-45px);
    }
}

/* ======================================
ANIMATION ON MOUSE
================================================== */
#mouse-click{
    animation: bounce 2s infinite;
}

@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-55px);
    }
    60% {
    transform: translateY(-45px);
    }
}
/* ======================================
HOME BANNER
================================================== */
#banner{
    background: url(../assets/backgrounds/h_img.jpg);
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    padding-top:2%;
    padding-bottom: 2%;
}

.banner-title{
    padding-top: 14%;
}

.mouse-click{
    padding-top: 10%;
}
/* ======================================
SERVICES SECTION
================================================== */
#services{
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

#services-content{
    width: 70%;
    margin: 4em auto;
    padding-top: 10%;
}
/* ======================================
Who We Do SECTION
================================================== */
#design-text{
    display: none;
}

#developement-text{
    display: none;
}

#product-text{
    display: none;
}
